/* SECTION ONE */
/* hero backgroundg */

.hero {

    background: #2E2F42;
    background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)), url('../images/bacground/dark.jpg.') ;
    background-repeat: no-repeat;
    background-position: center;
    padding: 112px 0;
    background-size: cover;


}


/* linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)) */

.text-one {
    text-align: center;
}

.button-type {

    display: block;
    padding: 16px 32px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 4px;
    background-color: #4D5AE5;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    min-width: 169px;
    height: 56px;
    border: none;
    margin-left: auto;
    margin-right: auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.button-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;

}

.hero .button-type:hover,
.button-type:focus {
    background-color: #404BBF;
}

.titel-h-one {

    margin-bottom: 72px;
    margin-left: auto;
    margin-right: auto;
    color: var(--WHITE, #FFF);
    text-align: center;

    font-size: 36px;
    font-weight: 700;
    line-height: 1.12;
    letter-spacing: 0.02em;
    text-transform: capitalize;

    max-width: 288px;
}




@media screen and (min-width: 768px) {

    .titel-h-one {

        margin-bottom: 36px;
        font-size: 56px;
        font-weight: 700;
        line-height: 1.07;
        letter-spacing: 1.12;
        max-width: 496px;
    }

}








@media screen and (min-width: 768px) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)), url('../images/bacground/plansh.jpg');
    }

}


@media screen and (min-width: 1158px) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)), url('../images/bacground/office.jpg');
        padding: 188px 0;
    }

    .titel-h-one {
        margin-bottom: 48px;

    }



}



@media screen and (max-width: 767px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (min-resolution: 2dppx), screen and (max-width: 767px) and (min-device-pixel-ratio: 2) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)), url('../images/bacground/dark@2x.jpg');

    }



} 
@media screen and (min-width: 768px) and (min-resolution: 192dpi) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)), url('../images/bacground/plansh@2x.jpg');
    }

}



@media screen and (min-width: 1158px) and (min-resolution: 192dpi) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)), url('../images/bacground/office@2x.jpg');
    }

}










/* .hero {
    
    background: #2E2F42;
    background-repeat: no-repeat;
    background-position: center;
    padding: 188px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)), url(/images/bgre.jpeg);
    background-size: cover;


}

.text-one {
    text-align: center;
}

.titel-h-one {

    margin-bottom: 48px;
    margin-left: auto;
    margin-right: auto;
    color: var(--white, #FFF);

    font-family: Roboto;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 1.12;
    max-width: 496px;
}



.button-type {

    display: block;
    padding: 16px 32px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 4px;
    background-color: #4D5AE5;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    min-width: 169px;
    height: 56px;
    border: none;
    margin-left: auto;
    margin-right: auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.button-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;

}

.hero .button-type:hover,
.button-type:focus {
    background-color: #404BBF;
} */